{% extends "base.html" %}

{% block content %}
<h4><a href="{% url 'movies:user_movie_list' %}">User Movies</a></h4>
<p>List of Movies submitted by each User. Click on a username to expand the list of user movies.</p>


<div class="accordion accordion-flush" id="accordionFlushExample">
  {% for user, movies in object_list.items %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-heading{{ user.id }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{ user.id }}" aria-expanded="false" aria-controls="flush-collapse{{ user.id }}">
        {{ user.username }}
      </button>
    </h2>
    <div id="flush-collapse{{ user.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{ user.id }}" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        {% for movie in movies %}
        <ul>
            <li>
              <b>{{ movie.title }}</b> [likes:{{ movie.num_vote_up }} - hates:{{ movie.num_vote_down }}] submitted on {{ movie.pub_date }}
            </li>
            Description: {{ movie.description }}
        </ul>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
